<div ng-controller="View2Ctrl">
    <div class="col-md-12">

        <div class="control-group">
            <label class="control-label" for="datepickerTo">Type of event</label>
            <div class="controls">
                <select class="form-control">
                    <option>Concert</option>
                    <option>Sports</option>
                    <option>Theatre</option>
                    <option>Cinema</option>
                </select>
            </div>
        </div>
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="cityName">City</label>
                <div class="controls">
                    <input type="text" id="cityName" ng-model="cityName" placeholder="Enter city">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="eventName">Band/Event/Singer/Artist</label>
                <div class="controls">
                    <input type="text" id="eventName" ng-model="eventName" placeholder="Enter event">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="datepickerFrom">Start date</label>
                <div class="controls">
                    <input type="text" id="datepickerFrom" date-time ng-model="parent.datepickerFrom" min-view="date" view="date">
                    <span class="add-on"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="datepickerTo">Finish date</label>
                <div class="controls">
                    <input type="text" date-time id="datepickerTo" ng-model="parent.datepickerTo" min-view="date" view="date">
                    <span class="add-on"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>

        </form>
        <br/>

        <!--<input type="button" ng-click="getEvens()" value="Поиск"/>-->

        <table n class="table table-striped">
            <th class="text-center">Band</th>
            <th class="text-center">Type</th>
            <th class="text-center">Country</th>
            <th class="text-center">City</th>
            <th class="text-center">Details</th>
            <th class="text-center">Date</th>
        <tr ng-repeat="event in events">
            <td class="text-center">
                {{event.title}}
            </td>
            <td class="text-center">
                {{event.type}}
            </td>
            <td class="text-center">
                {{event.country}}
            </td>
            <td class="text-center">
                {{event.city}}
            </td>

            <td class="text-center">
                <a href="{{event.url}}" >Get more...</a>
            </td>
            <td class="text-center">
                {{event.date}}
            </td>
            <!--<td>

                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" ng-click="setBaseData(event.city, event.country, event.date)">
                    Поиск билетов
                </button>

            </td>-->

        </table>


        <!--  <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" ng-click="setBaseData(event.city, event.country, event.date)">
              Test button
          </button>-->
    </div>

    <div class="col-md-12 ">
        <button type="button" class="search-button btn btn-primary btn-sm" data-toggle="modal" ng-click="getEvens()">
            Search
        </button>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">Форма для поиска билетов</div>
                <div class="modal-body">
                    <label>Количество взрослых</label><input type="text" id="adults" ng-model="adults"/><br/>
                    <label>Количество детей</label><input type="text" id="children" ng-model="children"/><br/>
                    <label>Максимальный термин прибывания</label><input type="text" id="maxstay" ng-model="maxstay"/><br/>
                    <label>Минимальный термин прибывания</label><input type="text" id="minstay" ng-model="minstay"/><br/>
                    <label>Искать отель</label><input type="checkbox" id="hotelneed" ng-model="hotelneed">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="searchTicket()">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>